body{
    background: linear-gradient(135deg, #fff 40%, #009a9c 40%);
    color: white;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    margin: 0 auto;
    text-align: center;
    padding: 10vh 0 10vh 0;
    color: #009a9c;
    font-family: 'Paytone One', sans-serif;
    font-size: 250%;
    text-shadow: #111 0 0 1px, rgba(255,255,255,0.5) 0 2px 4px;
}
    h1 .red{
        color: red!important;
    }

.info{
    max-width: 20%;
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translate(0, -50%);
}
.info-banner{
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 3em;
    color: black;
    background: white;
}

.info-banner a{
    float: right;
    color: #009a9c;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

#copyright{
    float: left;
}

.info-banner ul{
    margin: 8px 0 0 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: #009a9c;
    font-size: 50%;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: #009a9c;
}

.dropzone{
    width: 35vw;
    height: 25vh;
    margin: 0 auto;
    color: #009a9c;
    box-shadow: 0 2px 4px 3px rgba(46,148,130,0.75);
    -webkit-box-shadow: 0 2px 4px 3px rgba(46,148,130,0.75);
    -moz-box-shadow: 0 2px 4px 3px rgba(46,148,130,0.75);
    border: 0!important;
    border-radius: 2%;
    font-size: 150%;
    background: white;
}
input[type="file"] {
    z-index: -1;
    opacity: 0;
    width: 30vw;
    height: 20vh;
}

input:focus + label {
    outline: 2px solid;
}

#file-input-label{
    width: 35vw;
    height: 25vh;
    color: #009a9c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120%;
}
#f1, #f2{
    transform: translate(-50%, 0);
    min-width: 25vw;
    min-height: 5vh;
    color: #009a9c;
    font-size: 120%;
    box-shadow: 0 2px 4px 3px rgba(46,148,130,0.75);
    -webkit-box-shadow: 0 2px 4px 3px rgba(46,148,130,0.75);
    -moz-box-shadow: 0 2px 4px 3px rgba(46,148,130,0.75);
    border: 0;
    border-left: 1rem solid;
    border-left-color: red;
    position: absolute;
    left: 50%;
}
#f1{
    bottom: 30%;
}

#f2{
    bottom: 20%;
    
}
#f1:hover, #f2:hover{
    cursor: text;
    box-shadow: 0 2px 4px 3px rgba(46,148,130,0.75);
    -webkit-box-shadow: 0 2px 4px 3px rgba(46,148,130,0.75);
    -moz-box-shadow: 0 2px 4px 3px rgba(46,148,130,0.75);
}

#encrypt, #decrypt{
    position: absolute;
    bottom: 5%;
    min-height: 10%;
    border: 0;
    color: #009a9c;
    font-size: 150%;
    border-left: 1rem solid;
    background: #eeeeee;
    transition: border-left 0.3s, border-left-color 0.3s;
    box-shadow: 0 2px 4px 3px rgba(46,148,130,0.75);
    -webkit-box-shadow: 0 2px 4px 3px rgba(46,148,130,0.75);
    -moz-box-shadow: 0 2px 4px 3px rgba(46,148,130,0.75);
}
#encrypt{
    min-width: 12vw;
    left: 40%;
    transform: translate(-60%, 0);
}
#decrypt{
    min-width: 12vw;
    left: 60%;
    transform: translate(-40%, 0);
}

#download, #another{
    text-decoration: none;
    font-size: 3em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    background: white;
    padding 5px;
    border-radius: 1%;
    border-left: 1rem solid;
    border-left-color: #009a9c;
    transition: border-left 0.3s, border-left-color 0.3s;
}
#download-info{

}

#download{
    top: 30%;
}
#another{
    top: 50%;
}

#encrypt:hover, #decrypt:hover, #download:hover, #another:hover{
    cursor: pointer;
    background: #eeeeee;
    border-left: 2rem solid;
    border-left-color:  red ;
    box-shadow: 0 3px 6px 4px rgba(46,148,130,0.75);
    -webkit-box-shadow: 0 3px 6px 4px rgba(46,148,130,0.75);
    -moz-box-shadow: 0 3px 6px 4px rgba(46,148,130,0.75);
}

#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 1128px) {
    .dropzone{
        width: 50%;
    }
    .info{
        display: none;
    }
    .info-banner{
        display: block;
    }
    #f1{
        bottom: 35%;
    }
    #f2{
        bottom: 25%;
    }
    #encrypt, #decrypt{
        bottom: 10%;
    }
}

@media screen and (max-width: 864px) {
    .dropzone{
        width: 75%;
    }
    #encrypt{
        left: 30%;
        transform: translate(-70%, 0);
    }
    #decrypt{
        left: 70%;
        transform: translate(-30%, 0);
    }
}

@media screen and (max-width: 528px) {
    .dropzone{
        width: 98%;
    }
    #download, #another{
        font-size: 2.5em;
    }
    body {
        background: linear-gradient(0deg, #fff 50%, #009a9c 50%);
    }
    h1{
        color: white;
        font-size: 200%;
    }
}