<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>

    body{
        height: 50vh;
        width: 50vw;
    }
    #submit{
        bottom: 0;
        position: fixed;
    }
    </style>
    <title>Flask test</title>
</head>
<body>
    <form action = "/uploader" method = "POST"
         enctype = "multipart/form-data">
        <div id="drop-zone">
            Glissez un justificatif de bénéfice
            <div id="clickHere">
                ou de cliquez ici pour en ajouter
                <input type="file" name="file" id="file" />
                <input type="submit" value="submit" name="submit" id="submit">
                <a href="/get_file">Télécharger le fichier</a>
            </div>
        </div>
    </form>
</body>
</html>